
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 2;
}

.logo{
    line-height: 60px;
    float: left;
    color: #fff;
    font-size: 28px;
}

.menu{
    float: left; 
}

.menu li{
    float: left;
    line-height: 60px;
    font-size: 14px;
    color:white;
    text-transform: uppercase;
    margin-right: 40px;
    cursor: pointer;
}

.menu li:hover{
    color:#db8755;
}

.menu li:active{
    font-weight: bold;
}

.main{
    width: 100%;
    height: calc(100% - 60px) ;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/fon1.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    padding:432px 0px 0px 404px;
    color:#2c384a;
    text-align: center;
    position: relative;
    z-index: 1;
}

.title_container h1{
    font-size: 72px;
    font-weight: bold;
}

.title_container h4{
    margin-top:40px;
    font-size: 22px;
    color:#79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color:#6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
    cursor: pointer;
}

.title_container input:hover{
    background-color:#6d7682 ;
    color: white;
}

.dropdown{
    display: none;
}

@media(max-width:575px){
    .logo{
        position: absolute;
        font-size: 20px;
    }
    .dropdown{
        width: 150px;
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 50px;
        margin-left: 50%;
    }
}

@media(max-width:991px){

    .dropdown{
        display: flex;
        margin-top: 15px;
        
    }

    

    .title_container, .title_container h4, .title_container input{
        color: white;
    }

    .main{
        position: relative;
    }

    .main::after{
        content: "";
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: rgba(1, 1, 1, 0.4);
    }
}



/*------------------------------------------*/
.about{
    width: 100%;
    height: 718px;
    background: white;
    text-align: center;
    box-shadow: 0px 7px 30px rgb(0, 0, 0);
    
}

.intro{
    flex-direction: column;
}

.intro h2{
    font-size: 33px;
    text-transform: uppercase;
    color:#263244;
    padding-top:109px;
    padding-bottom: 32px;
    font-weight: bold;
}

.trait_o{
    padding-bottom: 60px;
}

.about_me p{
    padding: 46px 0px 0px 0px;
    font-size: 18px;
    color: #3f495a;
    width: 700px;
    margin:0px auto 0px auto;
    text-align: left;
}

.dowload{
    
    border: 2px solid #6f707e;
    line-height: 32px;
    font-size: 17px;
    background-color: white;
    border-radius: 5px;
    color:#6f707e;
    background: no-repeat  url(../img/dowload_ikon.png);
    background-position: 10px;
    padding: 0px 14px 0px 34px;
    margin-bottom: 98px;
    cursor: pointer;
}

.dowload:hover{
    background-color: #6f707e;
    color:white;
}

@media(max-width:700px){
    .about_me p{
        font-size: 16px;
        width: 500px;
    }
}

@media(max-width:465px){
    .about_me p{
        font-size: 14px;
        width: 325px;
    }
}

/*------------------*/

.skills{
    background: center url(../img/bg2.jpg) ;
    width: 100%;
    height: 522px;
    text-align: center;
}

.skills_container{
    margin:0px auto 0px auto;
}

.my_skills h2{
    font-size: 33px;
    text-transform: uppercase;
    color:#263244;
    padding-top:60px;
    padding-bottom: 15px;
    font-weight: bold;
}

.skills_container{
    padding-top: 103px;
    display: flex;
    justify-content: space-around;
}

.web_skill h3{
    padding-top: 40px;
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
    padding-bottom: 20px;
}

.web_skill p{
    
    font-size: 16px;
    color:#515a68;
}

.working_skill h3{
    padding-top: 37px;
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
    padding-bottom: 20px;
}

.working_skill p{
    
    font-size: 16px;
    color:#515a68;
}

.seo_skill h3{
    padding-top: 31px;
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
    padding-bottom: 20px;
}

.seo_skill p{
    
    font-size: 16px;
    color:#515a68;
}

.market_skill h3{
    padding-top: 34px;
    font-size: 19px;
    color: #cf7600;
    font-weight: bold;
    padding-bottom: 20px;
}

.market_skill p{
    
    font-size: 16px;
    color:#515a68;
}


@media(max-width:1200px){
    .seo_skill h3{
        font-size: 16px;
    }
    .seo_skill p{
        width: 170px;
        font-size: 12px;
        
    }

    .market_skill h3{
        font-size: 16px;
    }
    .market_skill p{
        width: 170px;
        font-size: 12px;
        
    }

    .web_skill h3{
        font-size: 16px;
    }
    .web_skill p{
        width: 170px;
        font-size: 12px;
        
    }

    .working_skill h3{
        font-size: 16px;
    }
    .working_skill p{
        width: 170px;
        font-size: 12px;
        
    }
}

@media(max-width:991px){

    .seo_skill img{
        width: 25px;
    }

    .seo_skill h3{
        font-size: 13px;
    }
    .seo_skill p{
        width: 150px;
        font-size: 10px;
        
    }

    .market_skill img{
        width: 25px;
    }

    .market_skill h3{
        font-size: 13px;
    }
    .market_skill p{
        width: 150px;
        font-size: 10px;
        
    }

    .web_skill img{
        width: 25px;
    }

    .web_skill h3{
        font-size: 13px;
    }
    .web_skill p{
        width: 150px;
        font-size: 10px;
        
    }

    .working_skill img{
        width: 25px;
    }

    .working_skill h3{
        font-size: 13px;
    }
    .working_skill p{
        width: 150px;
        font-size: 10px;
        
    }
}

/*------------------------*/

.case{
    background-color: white;
    text-align: center;
}

.case_wrapper h2{
    text-align: center;
    font-size: 33px;
    text-transform: uppercase;
    color:#263244;
    padding-top:109px;
    padding-bottom: 32px;
    font-weight: bold;
}

.case_wrapper p{
    text-align: center;
    padding-top: 37px;
    font-size: 17px;
    color:#3f495a;
    padding-bottom: 42px;
}

.case_content{
    text-align: start;
    display: flex;
    justify-content: center;
}

.case_left h3{
    font-size: 25px;
    color:#384354;
    padding-bottom: 18px;
    padding-top: 40px;
    font-weight: bold;
}

.case_left span{
    font-size: 17px;
    color:#3f495a;
}

.case_left h4{
    font-size: 25px;
    color:#384354;
    padding-bottom: 18px;
    padding-top: 16px;
    font-weight: bold;
}

.visit_button{
    text-align: left;
    margin-top: 26px;
    width: 200px;
    height: 44px;
    background-color: #63b5ae;
    font-size: 21px;
    text-align: center;
    line-height: 22px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.visit_button:hover{
    background-color: #369e95;
}

.case_right span{
    
    font-size: 17px;
    color:#3f495a;
}

.case_right h3{
    font-size: 25px;
    color:#384354;
    padding-bottom: 18px;
    padding-top: 36px;
    font-weight: bold;
}

.case_right{
    margin-left: 105px;
    width: 850px;
}

@media(max-width:991px){
    .case_content span{
        font-size: 14px;
    }

    .case_right span{
        width: 300px;
    }
}

@media(max-width:575px){
    .case_img{
        width: 350px;
    }
}

/*------------------------*/

.calculator_wrapper{
    background-color: #fff;
    box-shadow: 1px 1px 20px gray;
    margin-bottom: 40px;
    padding: 0px 20px;
}

.calculator_wrapper h3{
    text-align: center;
    margin-top: 200px;
    font-size: 46px;
    color:#1c2534;
    font-weight: bold;
    letter-spacing: 0.01px;
    padding-bottom: 60px;
}



.type h2{
    text-align: left;
    font-size: 29px;
    color: #1c2534;
    text-transform: uppercase;
    font-weight: bold;
}

.type select{
    margin-top: 20px;
    
    height: 60px;
    background-color: #eeeeee;
    color:#737373;
    font-size:17px ;
    padding-left: 25px;
    padding-right: 10px;
    cursor: pointer;
}

.type select:hover{
    background-color: #dbdbdb;
}



.style h2{
    padding-top: 45px;
    font-size: 29px;
    color: #1c2534;
    text-transform: uppercase;
    font-weight: bold;
}

.style select{
    margin-top: 20px;
    
    height: 60px;
    background-color: #eeeeee;
    color:#737373;
    font-size:17px ;
    padding-left: 25px;
    padding-right: 10px;
    cursor: pointer;
}

.style select:hover{
    background-color: #dbdbdb;
}



.adaptability h2{
    padding-top: 45px;
    font-size: 29px;
    color: #1c2534;
    text-transform: uppercase;
    font-weight: bold;
}

.adaptability select{
    margin-top: 20px;
   
    height: 60px;
    background-color: #eeeeee;
    color:#737373;
    font-size:17px ;
    padding-left: 25px;
    padding-right: 10px;
    cursor: pointer;
}

.adaptability select:hover{
    background-color: #dbdbdb;
}

.trait_g{
    padding-top: 35px;
    width: 866px ;
    margin-left: 8px;
}

.date{
    padding-top: 23px;
    display: flex;
    
}

.date p{
    
    font-size: 21px;
    color: #1c2534;
    font-weight: bold;
}

.date h4{
    font-weight: bold;
    font-size: 21px;
    color: #1c2534;
}

.cash{
    padding-top: 23px;
    display: flex;
    
}

.cash p{
    
    font-size: 21px;
    color: #1c2534;
    font-weight: bold;
    padding-bottom: 150px;
}

.cash h4{
    font-weight: bold;
    font-size: 21px;
    color: #1c2534;
}

.calculator_button{
    width: 200px;
    height: 44px;
    background-color: #63b5ae;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 40%;
    margin-bottom: 35px;
}

@media(max-width:767px){
    .calculator_button{
        width: 150px;
        margin-left: 38%;
    }
}

@media(max-width:575px){
    .calculator_wrapper{
        width: 100%;
    }

    .trait_g{
        width: 100%;
    }

    .style select{
        width: 100%;
    }

    .type select{
        width: 100%;
    }

    .adaptability select{
        width: 100%;
    }

    .date p{
        margin-left: 85%;
    }

    .cash p{
        margin-left: 76%;
    }
}

@media(max-width:1199px){
   .calculator_wrapper h3{
        font-size:28px ;
   }
   
    .cash h4{
        font-size: 18px;
    }

    .date h4{
        font-size: 18px;
    }

    .cash p{
        font-size: 18px;
    }

    .date p{
        font-size: 18px;
    }

    .type h2{
        font-size:21px ;
    }

    .style h2{
        font-size:21px ;
    }

    .adaptability h2{
        font-size:21px ;
    }
}
/*------------------------*/

.statistics{
    width: 100%;
    height: 498px;
    background: no-repeat center url(../img/bg3.jpg);
    text-align: center;
    background-attachment: fixed;
}

.statistics_wrapper h3{
    padding-top: 105px;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: bold;
    color:#323e4f;
    padding-bottom: 32px;
    
}

.all_stat{
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
}



.clients h2{
    padding-top: 30px;
    color:#323e4f;
    font-size: 40px;
    font-weight: bold;
}

.clients h4{
    padding-top: 30px;
    color:#323e4f;
    font-size: 20px;
    letter-spacing: 0.01px;
}



.hourse h2{
    padding-top: 30px;
    color:#323e4f;
    font-size: 40px;
    font-weight: bold;
}

.hourse h4{
    padding-top: 30px;
    color:#323e4f;
    font-size: 20px;
    letter-spacing: 0.01px;
}


.projects h2{
    padding-top: 30px;
    color:#323e4f;
    font-size: 40px;
    font-weight: bold;
}

.projects h4{
    padding-top: 30px;
    color:#323e4f;
    font-size: 20px;
    letter-spacing: 0.01px;
}



.rewerd h2{
    padding-top: 30px;
    color:#323e4f;
    font-size: 40px;
    font-weight: bold;
}

.rewerd h4{
    padding-top: 30px;
    color:#323e4f;
    font-size: 20px;
    letter-spacing: 0.01px;
}

@media(max-width:1400px){
    .rewerd h2{ 
        font-size: 30px;
    }
    
    .rewerd h4{
        font-size: 15px;  
    }

    .rewerd img{
        width: 50px;
    }

    .projects h2{ 
        font-size: 30px;
    }
    
    .projects h4{
        font-size: 15px;  
    }

    .projects img{
        width: 50px;
    }

    .hourse h2{ 
        font-size: 30px;
    }
    
    .hourse h4{
        font-size: 15px;  
    }

    .hourse img{
        width: 50px;
    }

    .clients h2{ 
        font-size: 30px;
    }
    
    .clients h4{
        font-size: 15px;  
    }

    .clients img{
        width: 50px;
    }
}

@media(max-width:768px){
    .rewerd h2{ 
        font-size: 22px;
    }
    
    .rewerd h4{
        font-size: 13px;  
    }

    .rewerd img{
        width: 30px;
    }

    .projects h2{ 
        font-size: 22px;
    }
    
    .projects h4{
        font-size: 13px; 
    }

    .projects img{
        width: 30px;
    }

    .hourse h2{ 
        font-size: 22px;
    }
    
    .hourse h4{
        font-size: 13px; 
    }

    .hourse img{
        width: 30px;
    }

    .clients h2{ 
        font-size: 22px;
    }
    
    .clients h4{
        font-size: 13px; 
    }

    .clients img{
        width: 30px;
    }
}

/*------------------------*/

.reviews{
    width: 100%;
    background-color: white;
    text-align: center;
    height: 590px;
}

.reviews_wrapper h2{
    padding-top: 105px;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: bold;
    color:#323e4f;
    padding-bottom: 32px;
    
}

.photoimg{
    padding-top: 60px;
    padding-bottom: 35px;
}

.reviews_wrapper p{
    font-size: 17px;
    color:#3d4654;
    width: 36.5%;
    margin: 0px auto;
    padding-bottom: 35px;
}

.reviews_wrapper span{
    font-size: 17px;
    color:#525965;
}


.miha{
    font-size: 17px;
    color:#243042;
    font-weight: bold;
}

.net{
    padding: 1% 0px 90px 0px;
}

.net_g{
    padding: 0px 6px 0px 6px;
}

@media(max-width:991px){
    .reviews_wrapper p{
        font-size: 14px;
        padding: 0;
        
    }

    .reviews_wrapper span{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

}

@media(max-width:575px){
    .reviews_wrapper p{
        font-size: 11px;
    }
}

@media (max-width:380px){
    .reviews_wrapper p{
        font-size: 12px;
        padding: 0;
        width: 200px;
    }

    .reviews_wrapper span{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    .net{
        padding: 0px 0px 90px 0px;
    }
}

/*------------------------*/

.map_img{
    width: 100%;
}

/*------------------------*/

.contact{
    width: 100%;
    height: 808px;
    background: center  url(../img/bg4.jpg);
    text-align: center;
    background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    -webkit-background-size: cover;
}

.my_contact h2{
    padding-top: 80px;
    font-size: 33px;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    padding-bottom: 32px;
}

.my_contact p{
    padding-top: 28px;
    color:white;
    font-size: 17px;
    
}

.all_contact{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    
}

.all_contact p{
    width: 270px;
    color:white;
    font-size: 17px; 
    
}

.my_contact h3{
    padding-top: 35px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    padding-bottom: 32px;
}

.u_name{
    
    height: 35px;
    color:#5d5d5e;
    opacity: 0.85;
    padding-left: 15px;
    
    font-size: 17px;
}

.u_email{
    
    height: 35px;
    color:#5d5d5e;
    opacity: 0.85;
    padding-left: 15px;
   
    font-size: 17px;
}

.u_text{
    margin-top: 14px;
    
    height: 94px;
    color:#5d5d5e;
    opacity: 0.85;
    padding-left: 15px;
    font-size: 17px;
    padding-top: 10px;
}

.c_button{
    text-align: center;
    color: white;
    background-color:rgba(1, 1, 1, 0);
    font-size: 21px;
    width: 125px;
    height: 45px;
    border:2px white solid;
    border-radius: 5px;
    margin-top: 28px;
    line-height: 42px;
    cursor: pointer;
}

.c_button:hover{
    background-color: rgb(83, 143, 83);
}

@media(max-width:1199px){
    .all_contact p{
        width: 230px;
        color:white;
        font-size: 14px; 
        
    }

    .my_contact h3{
        padding-top: 30px;
        font-size: 18px;
        padding-bottom: 30px;
    }
}

@media(max-width:991px){
    .all_contact p{
        
        width: 140px;
        color:white;
        font-size: 12px; 
        
    }
    
    .c_button{
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
}

@media (max-width:575px){
    form input{
        width: 150px;
    }
    form textarea{
        width: 300px;
    }
}

/*--------------------------*/

.map_wrapper{
    position: relative;
    width: 100%;
    height: 356px;
    text-align: center;
    background: center url(../img/map.jpg);
}

.herepng{
    position: relative;
    top: 160px;
}

.map_wrapper h2{
    position: absolute;
    top: 176px;
    left: 48.3%;
    font-weight: bold;
    font-size: 17px;
}

/*----------------------------*/

footer{
    background-color: #354051;
    text-align: center;
    width: 100%;
    height: 96px;
}

footer h2{
    font-size: 13px;
    color: white;
    line-height: 96px;
}

/*----------*/

